In [2]:
import mysql.connector

In [3]:
config = {
    'host': 'localhost',
    'port':3306,      
    'user': 'root',  
    'password': 'COOLarc@252',  
    'database': 'DWBI'   
}

In [4]:
# Establish connection
try:
    connection = mysql.connector.connect(**config)
    if connection.is_connected():
        print("Successfully connected to MySQL!")
        
except mysql.connector.Error as e:
    print(f"Error connecting to MySQL: {e}")

Successfully connected to MySQL!

In [5]:
import pandas as pd

In [6]:
select_query = """
    SELECT * FROM student
"""
df = pd.read_sql(select_query,connection)
df.head()

C:\Users\archa\AppData\Local\Temp\ipykernel_18496\2615283963.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(select_query,connection)

   id     name  age grade
0   1    Alice   20     A
1   2      Bob   22     B
2   3  Charlie   19     C
3   4    Diana   21     B
4   5    Ethan   23     A